.sidebar {
    background-color:rgba(14, 0, 13, 0.4);
    color: #b4b4b4;
    height: 100vh;
    width: 320px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.button {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    background-color: transparent !important;
    border: solid 1px rgba(255, 255, 255, 0.5); 
}

.logo {
    height: 25px;
    width: 25px;
    
}

.button span {
    font-size: 20px;
    color: white;
}

.history {
    list-style: none; 
    padding: 0 10px;
    margin-top: 20px; 
    flex-grow: 1; 
    overflow-y: auto;
}

.history li {
    padding: 8px 0;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; /* Add ellipsis for long history items */
}

.sign {
    padding: 10px;
    text-align: center;
    font-size: 1.5rem;
}