.sidebar {
    background-color: #171717;
    color: #b4b4b4;
    height: 100vh;
    width: 320px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.button {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    background-color: transparent !important;
    border: solid 1px rgba(255, 255, 255, 0.5); 
    transition: all 0.3s ease-in-out; 
    cursor: pointer; 
}

.button:hover {
    
    background-color: rgba(0, 120, 255, 0.05) !important; 
    border: solid 1px rgba(0, 170, 255, 0.7);
    transform: translateY(-2px); 
    box-shadow: 0 4px 10px rgba(0, 120, 255, 0.3); 
}

.logo {
    height: 25px;
    width: 25px;
}

.button span {
    font-size: 20px;
    color: white;
    transition: color 0.3s ease-in-out;
}

.button:hover span {
    color: #9cd9f7;
}


.history {
    list-style: none; 
    padding: 0 10px;
    margin-top: 20px; 
    flex-grow: 1; 
    overflow-y: auto;
    margin:10px;
    padding: 10px;
    height:100%;
}

.history li {
    list-style: none;
    padding: 5px 10px; /* Increased padding for better hit area */
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; 
    margin-bottom: 0.5rem;
    font-size: 14px;
    border: solid 1px transparent; 
    
    position: relative;
    border-radius: 4px;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border 0.2s ease-in-out; 
}

.history li:hover {
    background-color: rgba(0, 170, 255, 0.05); 
    color: white; 
    border: solid 1px rgba(122, 208, 251, 0.5);
}

.sign {
    padding: 10px;
    margin :10px;
    text-align: center;
    font-size: 14px;
    border-top: solid 0.25px rgba(255,255,255,0.5);
}